body {
    font-size: 14px;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
#tree {
    margin-left: -36px;
}
.sub-tree {
    margin-left: 36px;
}
.sub-tree:not(:first-child) {
    display: none;
}